<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Draw dogs on Thursdays">
    <meta property="og:type" content="website" />
    <title>Draw Dog Thursday</title>
    <!-- add our CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <!-- add Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- add JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="nav">
            <div class="countdown">
                <h1 id="title">Next Thursday</h1>
                <h2 id="timer"></h2>
                <a id="submit" href="/draw">Draw a dog</a>
            </div>
            <div class="logout">
                <a id="logoutLink" href="/logout">Log Out</a>
            </div>
        </div>
    </div>

    <br class="break" />

    <div class="controls">
        <a href="/home?sort=new">Newest </a>|
        <a href="/home?sort=old">Oldest </a>|
        <a href="/home?sort=best">Best Doggos </a>|
        <a href="/home?sort=bad">Bad Doggos </a>
    </div>

    <br />

    <div class="main">

        <% for (var i = 0; i < submissions.length; i++) { %>
            <div class="row">
                <div class="card">
                    <div class="image-container">
                        <img src="<%=submissions[i].dataUrl%>">
                    </div>
                    <div class="info-container">
                        <hr>
                        <div class="info">
                            <h2 class="post-author"><%=submissions[i].username%>'s dog</h2>
                            <h2 class="timestamp"><%=submissions[i].timestamp%></h2>
                            <div class=icons>
                                <img class="kebab-menu" src="assets/kebab-menu.svg">
                                <% if (submissions[i].user_voted) { %>
                                    <div class="vote-container">
                                        <a class=vote-counter><%=submissions[i].num_votes%></a>
                                        <a>&nbsp;</a>
                                        <img class="paw" src="assets/paw.svg" data-postId="<%=submissions[i].postId%>">
                                    </div>
                                <% } else { %>
                                    <div class="vote-container not-voted">
                                        <a class=vote-counter><%=submissions[i].num_votes%></a>
                                        <a>&nbsp;</a>
                                        <img class="paw" src="assets/paw.svg" data-postId="<%=submissions[i].postId%>">
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%} %>

    </div>

    <script type="text/javascript">
        const getNextThursdayDate = () => {
            const d = new Date();
            d.setDate(d.getDate() + (4 + 7 - d.getDay()) % 7);
            d.setHours(0);
            d.setMinutes(0);
            d.setSeconds(0);
            return d;
        };
        const nextThursday = getNextThursdayDate();

        const displayCurrentTimeUntilThursday = () => {
            $("#title").text("Next Thursday");

            const now = new Date().getTime();
            const distance = nextThursday - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("timer").innerHTML = days + "d " + hours + "h "+ minutes + "m " + seconds + "s ";
            if(distance < 0) {
                $("#title").text("It's Thursday!");
                $("#timer").hide();
                $("#submit").show();
            }
        };

        $("#submit").hide();
        // update time display every second
        setInterval(displayCurrentTimeUntilThursday, 1000);

        // handle upvote
        const paws = document.getElementsByClassName("paw");
        Array.prototype.forEach.call(paws, function(element) {
            element.addEventListener('click', function() {
                //console.log("data-postId value is " + element.dataset.postid)
                // check if voted if so don't do anything
                if(element.parentElement.classList.contains("not-voted")) {
                    console.log("vote")
                    element.parentElement.classList.remove("not-voted");
                    const currentVoteValue = parseInt(element.parentElement.firstElementChild.text);
                    element.parentElement.firstElementChild.text = currentVoteValue + 1;
                    // call endpoint
                    const data = { postId: element.dataset.postid };
                    window.fetch('/vote', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
                } else {
                    // nothing to do
                    console.log("you already voted")
                }
            })
        });
    </script>

</body>

</html>